* {
	margin: 0;
	padding: 0;
}

.jmuiNotransform {
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	transform: none !important;
}

.jmuiLayout {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	backface-visibility: hidden;
	transform: translate3d(0,0,0) rotate(0) scale(1);
	transform-style: preserve-3d;
}

body:not(.version_4_1_to_4_3) .jmuiLayout {
	overflow:hidden; /* Android scrolling fix for every version except 4.1 - 4.3*/
}

.jmuiColumn {
	position: absolute;	/* make nested absolute positioned elements relative to this */
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	transform-style: preserve-3d;
	perspective: 800px;
}

body:not(.version_4_1_to_4_3) .jmuiColumn {
	overflow:hidden; /* Android scrolling fix for every version except 4.1 - 4.3*/
}

.jmuiPage {
	position: absolute; /* relative to .jmuiColumn */
	left: 0;
	top: 0;
	width: 100%;
	display: none; /* all pages are hidden unless they have the .current class */
	overflow-x: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	backface-visibility: hidden;
	translate3d(0,0,0) rotate(0) scale(1);
}

.jmuiSegmentGroup {
	overflow: hidden;
}

.jmuiSegmentPanel {
	display: none;
	float: left;
	width: 100%;
	padding: 0;
}

.jmuiLayout.jmuiCurrent, .jmuiPage.jmuiCurrent {
	display: block !important;
}

.jmuiSegmentPanel.jmuiSelected {
	display: block !important;
	overflow-y:auto !important;
}

.jmuiPage .jmuiSelectable, .jmuiPage input, .jmuiPage textarea {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	-o-user-select: auto;
	user-select: auto;
}

.jmuiLayout.jmuiIn.jmuiStart, .jmuiLayout.jmuiOut.jmuiStart,
.jmuiPage.jmuiIn.jmuiStart, .jmuiPage.jmuiOut.jmuiStart {
	-webkit-transition-duration: 350ms;
	-moz-transition-duration: 350ms;
	-o-transition-duration: 350ms;
	transition-duration: 350ms;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.jmuiPageScroller .jmuiHeader, .jmuiPageScroller .jmuiFooter {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
}

.jmuiPageScroller .jmuiHeader {
	top: 0;
}

.jmuiPageScroller .jmuiFooter {
	bottom: 0;
}

.jmuiScroller, .jmuiPageScroller .jmuiNativeScroller {
	position: relative;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

body:not(.version_4_1_to_4_3) .jmuiScroller,
body:not(.version_4_1_to_4_3) .jmuiPageScroller .jmuiNativeScroller {
	overflow-x: hidden; /* Android scrolling fix for every version except 4.1 - 4.3*/
}

.jmuiScroller > div, .jmuiNativeScroller > div {
	float: left;
	width: 100%;
	padding: 0;
}

.jmuiMask {
	float: none;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}


/* Slide */

.jmuiLayout.jmuiSlide.jmuiStart,
.jmuiPage.jmuiSlide.jmuiStart {
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}

.jmuiLayout.jmuiSlide.jmuiIn, .jmuiLayout.jmuiSlide.jmuiOut.jmuiReverse.jmuiStart,
.jmuiPage.jmuiSlide.jmuiIn, .jmuiPage.jmuiSlide.jmuiOut.jmuiReverse.jmuiStart {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}

.jmuiLayout.jmuiSlide.jmuiOut.jmuiStart, .jmuiLayout.jmuiSlide.jmuiIn.jmuiReverse,
.jmuiPage.jmuiSlide.jmuiOut.jmuiStart, .jmuiPage.jmuiSlide.jmuiIn.jmuiReverse {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}

.jmuiLayout.jmuiSlide.jmuiOut, .jmuiLayout.jmuiSlide.jmuiOut.jmuiReverse, .jmuiLayout.jmuiSlide.jmuiIn.jmuiStart, .jmuiLayout.jmuiSlide.jmuiIn.jmuiReverse.jmuiStart,
.jmuiPage.jmuiSlide.jmuiOut, .jmuiPage.jmuiSlide.jmuiOut.jmuiReverse, .jmuiPage.jmuiSlide.jmuiIn.jmuiStart, .jmuiPage.jmuiSlide.jmuiIn.jmuiReverse.jmuiStart {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

/* Fade + Dissolve */

.jmuiLayout.jmuiFade.jmuiStart, .jmuiLayout.jmuiDisslove.jmuiStart,
.jmuiPage.jmuiFade.jmuiStart, .jmuiPage.jmuiDisslove.jmuiStart {
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-ms-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}

.jmuiLayout.jmuiFade.jmuiIn,  .jmuiLayout.jmuiFade.jmuiOut.jmuiReverse.jmuiStart,
.jmuiPage.jmuiFade.jmuiIn,  .jmuiPage.jmuiFade.jmuiOut.jmuiReverse.jmuiStart {
	opacity: 0;
}

.jmuiLayout.jmuiFade.jmuiOut.jmuiStart, .jmuiLayout.jmuiFade.jmuiIn.jmuiReverse,
.jmuiPage.jmuiFade.jmuiOut.jmuiStart, .jmuiPage.jmuiFade.jmuiIn.jmuiReverse {
	opacity: .99;
}

.jmuiLayout.jmuiFade.jmuiOut, .jmuiLayout.jmuiFade.jmuiOut.jmuiReverse, .jmuiLayout.jmuiFade.jmuiIn.jmuiStart, .jmuiLayout.jmuiFade.jmuiIn.jmuiReverse.jmuiStart,
.jmuiPage.jmuiFade.jmuiOut, .jmuiPage.jmuiFade.jmuiOut.jmuiReverse, .jmuiPage.jmuiFade.jmuiIn.jmuiStart, .jmuiPage.jmuiFade.jmuiIn.jmuiReverse.jmuiStart {
	opacity: 1;
}

.jmuiLayout.jmuiDisslove.jmuiIn,  .jmuiLayout.jmuiDisslove.jmuiOut.jmuiReverse.jmuiStart,
.jmuiPage.jmuiDisslove.jmuiIn,  .jmuiPage.jmuiDisslove.jmuiOut.jmuiReverse.jmuiStart {
	opacity: 0;
}

.jmuiLayout.jmuiDisslove.jmuiOut.jmuiStart, .jmuiLayout.jmuiDisslove.jmuiIn.jmuiReverse,
.jmuiPage.jmuiDisslove.jmuiOut.jmuiStart, .jmuiPage.jmuiDisslove.jmuiIn.jmuiReverse {
	opacity: 0;
}

.jmuiLayout.jmuiDisslove.jmuiOut, .jmuiLayout.jmuiDisslove.jmuiOut.jmuiReverse, .jmuiLayout.jmuiDisslove.jmuiIn.jmuiStart, .jmuiLayout.jmuiDisslove.jmuiIn.jmuiReverse.jmuiStart,
.jmuiPage.jmuiDisslove.jmuiOut, .jmuiPage.jmuiDisslove.jmuiOut.jmuiReverse, .jmuiPage.jmuiDisslove.jmuiIn.jmuiStart, .jmuiPage.jmuiDisslove.jmuiIn.jmuiReverse.jmuiStart {
	opacity: 1;
}


/* Flip */

.jmuiLayout.jmuiFlip.jmuiStart,
.jmuiPage.jmuiFlip.jmuiStart {
	-webkit-transition-duration: .65s;
	-moz-transition-duration: .65s;
	-ms-transition-duration: .65s;
	-o-transition-duration: .65s;
	transition-duration: .65s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -ms-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}

.jmuiLayout.jmuiFlip.jmuiIn,  .jmuiLayout.jmuiFlip.jmuiOut.jmuiReverse.jmuiStart,
.jmuiPage.jmuiFlip.jmuiIn,  .jmuiPage.jmuiFlip.jmuiOut.jmuiReverse.jmuiStart {
	-webkit-transform: rotateY(180deg) scale(.8);
	-moz-transform: rotateY(180deg) scale(.8);
	-ms-transform: rotateY(180deg) scale(.8);
	-o-transform: rotateY(180deg) scale(.8);
	transform: rotateY(180deg) scale(.8);
}

.jmuiLayout.jmuiFlip.jmuiOut.jmuiStart, .jmuiLayout.jmuiFlip.jmuiIn.jmuiReverse,
.jmuiPage.jmuiFlip.jmuiOut.jmuiStart, .jmuiPage.jmuiFlip.jmuiIn.jmuiReverse {
	-webkit-transform: rotateY(-180deg) scale(.8);
	-moz-transform: rotateY(-180deg) scale(.8);
	-ms-transform: rotateY(-180deg) scale(.8);
	-o-transform: rotateY(-180deg) scale(.8);
	transform: rotateY(-180deg) scale(.8);
}

.jmuiLayout.jmuiFlip.jmuiOut, .jmuiLayout.jmuiFlip.jmuiOut.jmuiReverse, .jmuiLayout.jmuiFlip.jmuiIn.jmuiStart, .jmuiLayout.jmuiFlip.jmuiIn.jmuiReverse.jmuiStart,
.jmuiPage.jmuiFlip.jmuiOut, .jmuiPage.jmuiFlip.jmuiOut.jmuiReverse, .jmuiPage.jmuiFlip.jmuiIn.jmuiStart, .jmuiPage.jmuiFlip.jmuiIn.jmuiReverse.jmuiStart {
	-webkit-transform: rotateY(0) scale(1);
	-moz-transform: rotateY(0) scale(1);
	-ms-transform: rotateY(0) scale(1);
	-o-transform: rotateY(0) scale(1);
	transform: rotateY(0) scale(1);
}


/* Slideup */

.jmuiLayout.jmuiSlideup.jmuiStart,
.jmuiPage.jmuiSlideup.jmuiStart {
	z-index: 10;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}

.jmuiLayout.jmuiSlideup.jmuiIn,  .jmuiLayout.jmuiSlideup.jmuiOut.jmuiReverse.jmuiStart,
.jmuiPage.jmuiSlideup.jmuiIn,  .jmuiPage.jmuiSlideup.jmuiOut.jmuiReverse.jmuiStart {
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 1;
	z-index: 30;
}

.jmuiLayout.jmuiSlideup.jmuiOut.jmuiStart, .jmuiLayout.jmuiSlideup.jmuiIn.jmuiReverse,
.jmuiPage.jmuiSlideup.jmuiOut.jmuiStart, .jmuiPage.jmuiSlideup.jmuiIn.jmuiReverse {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	opacity: .99;
	z-index: 10;
}

.jmuiLayout.jmuiSlideup.jmuiOut, .jmuiLayout.jmuiSlideup.jmuiOut.jmuiReverse, .jmuiLayout.jmuiSlideup.jmuiIn.jmuiStart, .jmuiLayout.jmuiSlideup.jmuiIn.jmuiReverse.jmuiStart,
.jmuiPage.jmuiSlideup.jmuiOut, .jmuiPage.jmuiSlideup.jmuiOut.jmuiReverse, .jmuiPage.jmuiSlideup.jmuiIn.jmuiStart, .jmuiPage.jmuiSlideup.jmuiIn.jmuiReverse.jmuiStart {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	z-index: 30;
}


/* Swap */
/* Still requires animation for steps */

.jmuiLayout.jmuiSwap,
.jmuiPage.jmuiSwap {
	-webkit-transform: perspective(800);
	-moz-transform: perspective(800);
	-ms-transform: perspective(800);
	-o-transform: perspective(800);
	transform: perspective(800);
	-webkit-animation-duration: .7s;
	-moz-animation-duration: .7s;
	-ms-animation-duration: .7s;
	-o-animation-duration: .7s;
	animation-duration: .7s;
}

.jmuiLayout.jmuiSwap.jmuiOut,
.jmuiPage.jmuiSwap.jmuiOut {
	-webkit-animation-name: swapouttoleft;
	-moz-animation-name: swapouttoleft;
	-ms-animation-name: swapouttoleft;
	-o-animation-name: swapouttoleft;
	animation-name: swapouttoleft;
}

.jmuiLayout.jmuiSwap.jmuiIn,
.jmuiPage.jmuiSwap.jmuiIn {
	-webkit-animation-name: swapinfromright;
	-moz-animation-name: swapinfromright;
	-ms-animation-name: swapinfromright;
	-o-animation-name: swapinfromright;
	animation-name: swapinfromright;
}

.jmuiLayout.jmuiSwap.jmuiOut.jmuiReverse,
.jmuiPage.jmuiSwap.jmuiOut.jmuiReverse {
	-webkit-animation-name: swapouttoright;
	-moz-animation-name: swapouttoright;
	-ms-animation-name: swapouttoright;
	-o-animation-name: swapouttoright;
	animation-name: swapouttoright;
}

.jmuiLayout.jmuiSwap.jmuiIn.jmuiReverse,
.jmuiPage.jmuiSwap.jmuiIn.jmuiReverse {
	-webkit-animation-name: swapinfromleft;
	-moz-animation-name: swapinfromleft;
	-ms-animation-name: swapinfromleft;
	-o-animation-name: swapinfromleft;
	animation-name: swapinfromleft;
}

@-webkit-keyframes swapouttoright {
	0% {
		-webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-webkit-animation-timing-function: ease-in-out;
	}
	50% {
		-webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
	}
}

@-webkit-keyframes swapouttoleft {
	0% {
		-webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-webkit-animation-timing-function: ease-in-out;
	}
	50% {
		-webkit-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
	}
}

@-webkit-keyframes swapinfromright {
	0% {
		-webkit-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
		-webkit-animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-webkit-animation-timing-function: ease-in-out;
	}
	100% {
		-webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@-webkit-keyframes swapinfromleft {
	0% {
		-webkit-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
		-webkit-animation-timing-function: ease-out;
	}
	50% {
		-webkit-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
		-webkit-animation-timing-function: ease-in-out;
	}
	100% {
		-webkit-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@-moz-keyframes swapouttoright {
	0% {
		-moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-moz-animation-timing-function: ease-in-out;
	}
	50% {
		-moz-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-moz-animation-timing-function: ease-in;
	}
	100% {
		-moz-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
	}
}

@-moz-keyframes swapouttoleft {
	0% {
		-moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-moz-animation-timing-function: ease-in-out;
	}
	50% {
		-moz-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
		-moz-animation-timing-function: ease-in;
	}
	100% {
		-moz-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
	}
}

@-moz-keyframes swapinfromright {
	0% {
		-moz-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
		-moz-animation-timing-function: ease-out;
	}
	50% {
		-moz-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-moz-animation-timing-function: ease-in-out;
	}
	100% {
		-moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@-moz-keyframes swapinfromleft {
	0% {
		-moz-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
		-moz-animation-timing-function: ease-out;
	}
	50% {
		-moz-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
		-moz-animation-timing-function: ease-in-out;
	}
	100% {
		-moz-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@-ms-keyframes swapouttoright {
	0% {
		-ms-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-ms-animation-timing-function: ease-in-out;
	}
	50% {
		-ms-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-ms-animation-timing-function: ease-in;
	}
	100% {
		-ms-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
	}
}

@-ms-keyframes swapouttoleft {
	0% {
		-ms-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-ms-animation-timing-function: ease-in-out;
	}
	50% {
		-ms-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
		-ms-animation-timing-function: ease-in;
	}
	100% {
		-ms-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
	}
}

@-ms-keyframes swapinfromright {
	0% {
		-ms-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
		-ms-animation-timing-function: ease-out;
	}
	50% {
		-ms-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-ms-animation-timing-function: ease-in-out;
	}
	100% {
		-ms-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@-ms-keyframes swapinfromleft {
	0% {
		-ms-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
		-ms-animation-timing-function: ease-out;
	}
	50% {
		-ms-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
		-ms-animation-timing-function: ease-in-out;
	}
	100% {
		-ms-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@-o-keyframes swapouttoright {
	0% {
		-o-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-o-animation-timing-function: ease-in-out;
	}
	50% {
		-o-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-o-animation-timing-function: ease-in;
	}
	100% {
		-o-transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
	}
}

@-o-keyframes swapouttoleft {
	0% {
		-o-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		-o-animation-timing-function: ease-in-out;
	}
	50% {
		-o-transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
		-o-animation-timing-function: ease-in;
	}
	100% {
		-o-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
	}
}

@-o-keyframes swapinfromright {
	0% {
		-o-transform: translate3d(0px, 0px, -800px) rotateY(70deg);
		-o-animation-timing-function: ease-out;
	}
	50% {
		-o-transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		-o-animation-timing-function: ease-in-out;
	}
	100% {
		-o-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@-o-keyframes swapinfromleft {
	0% {
		-o-transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
		-o-animation-timing-function: ease-out;
	}
	50% {
		-o-transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
		-o-animation-timing-function: ease-in-out;
	}
	100% {
		-o-transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@keyframes swapouttoright {
	0% {
		transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		animation-timing-function: ease-in-out;
	}
	50% {
		transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		animation-timing-function: ease-in;
	}
	100% {
		transform:  translate3d(0px, 0px, -800px) rotateY(70deg);
	}
}

@keyframes swapouttoleft {
	0% {
		transform: translate3d(0px, 0px, 0px) rotateY(0deg);
		animation-timing-function: ease-in-out;
	}
	50% {
		transform:  translate3d(180px, 0px, -400px) rotateY(-20deg);
		animation-timing-function: ease-in;
	}
	100% {
		transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
	}
}

@keyframes swapinfromright {
	0% {
		transform: translate3d(0px, 0px, -800px) rotateY(70deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: translate3d(-180px, 0px, -400px) rotateY(20deg);
		animation-timing-function: ease-in-out;
	}
	100% {
		transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

@keyframes swapinfromleft {
	0% {
		transform: translate3d(0px, 0px, -800px) rotateY(-70deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: translate3d(180px, 0px, -400px) rotateY(-20deg);
		animation-timing-function: ease-in-out;
	}
	100% {
		transform: translate3d(0px, 0px, 0px) rotateY(0deg);
	}
}

.jmuiLayout.jmuiCube.jmuiStart,
.jmuiPage.jmuiCube.jmuiStart {
	-webkit-animation-duration: .55s;
	-moz-animation-duration: .55s;
	-ms-animation-duration: .55s;
	-o-animation-duration: .55s;
	animation-duration: .55s;
	-webkit-transition-duration: .55s;
	-moz-transition-duration: .55s;
	-ms-transition-duration: .55s;
	-o-transition-duration: .55s;
	transition-duration: .55s;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-ms-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}

.jmuiLayout.jmuiCube.jmuiIn,
.jmuiPage.jmuiCube.jmuiIn {
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	-ms-transform-origin: 0% 50%;
	-o-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-animation-name: cubeinfromright;
	-moz-animation-name: cubeinfromright;
	-ms-animation-name: cubeinfromright;
	-o-animation-name: cubeinfromright;
	animation-name: cubeinfromright;
}

.jmuiLayout.jmuiCube.jmuiOut,
.jmuiPage.jmuiCube.jmuiOut {
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-animation-name: cubeouttoleft;
	-moz-animation-name: cubeouttoleft;
	-ms-animation-name: cubeouttoleft;
	-o-animation-name: cubeouttoleft;
	animation-name: cubeouttoleft;
}

.jmuiLayout.jmuiCube.jmuiIn,  .jmuiLayout.jmuiCube.jmuiOut.jmuiReverse.jmuiStart,
.jmuiPage.jmuiCube.jmuiIn,  .jmuiPage.jmuiCube.jmuiOut.jmuiReverse.jmuiStart {
	opacity: 1;
}

.jmuiLayout.jmuiCube.jmuiOut.jmuiStart, .jmuiLayout.jmuiCube.jmuiIn.jmuiReverse,
.jmuiPage.jmuiCube.jmuiOut.jmuiStart, .jmuiPage.jmuiCube.jmuiIn.jmuiReverse {
	opacity: .99;
}

.jmuiLayout.jmuiCube.jmuiOut, .jmuiLayout.jmuiCube.jmuiOut.jmuiReverse, .jmuiLayout.jmuiCube.jmuiIn.jmuiStart, .jmuiLayout.jmuiCube.jmuiIn.jmuiReverse.jmuiStart,
.jmuiPage.jmuiCube.jmuiOut, .jmuiPage.jmuiCube.jmuiOut.jmuiReverse, .jmuiPage.jmuiCube.jmuiIn.jmuiStart, .jmuiPage.jmuiCube.jmuiIn.jmuiReverse.jmuiStart {
	opacity: 1;
}

.jmuiLayout.jmuiCube.jmuiIn.jmuiReverse,
.jmuiPage.jmuiCube.jmuiIn.jmuiReverse {
	-webkit-animation-name: cubeinfromleft;
	-moz-animation-name: cubeinfromleft;
	-ms-animation-name: cubeinfromleft;
	-o-animation-name: cubeinfromleft;
	animation-name: cubeinfromleft;
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.jmuiLayout.jmuiCube.jmuiOut.jmuiReverse,
.jmuiPage.jmuiCube.jmuiOut.jmuiReverse {
	-webkit-animation-name: cubeouttoright;
	-moz-animation-name: cubeouttoright;
	-ms-animation-name: cubeouttoright;
	-o-animation-name: cubeouttoright;
	animation-name: cubeouttoright;
	-webkit-transform-origin: 0% 50%;
	-moz-transform-origin: 0% 50%;
	-ms-transform-origin: 0% 50%;
	-o-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}

@-webkit-keyframes cubeinfromleft {
	from {
		-webkit-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-webkit-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-webkit-keyframes cubeouttoright {
	from {
		-webkit-transform: rotateY(0deg) translateX(0);
		opacity: 1;
	}
	to {
		-webkit-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
}

@-webkit-keyframes cubeinfromright {
	from {
		-webkit-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-webkit-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-webkit-keyframes cubeouttoleft {
	from {
		-webkit-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
	to {
		-webkit-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
}

@-moz-keyframes cubeinfromleft {
	from {
		-moz-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-moz-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-moz-keyframes cubeouttoright {
	from {
		-moz-transform: rotateY(0deg) translateX(0);
		opacity: 1;
	}
	to {
		-moz-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
}

@-moz-keyframes cubeinfromright {
	from {
		-moz-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-moz-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-moz-keyframes cubeouttoleft {
	from {
		-moz-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
	to {
		-moz-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
}

@-ms-keyframes cubeinfromleft {
	from {
		-ms-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-ms-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-ms-keyframes cubeouttoright {
	from {
		-ms-transform: rotateY(0deg) translateX(0);
		opacity: 1;
	}
	to {
		-ms-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
}

@-ms-keyframes cubeinfromright {
	from {
		-ms-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-ms-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-ms-keyframes cubeouttoleft {
	from {
		-ms-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
	to {
		-ms-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
}

@-o-keyframes cubeinfromleft {
	from {
		-o-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-o-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-o-keyframes cubeouttoright {
	from {
		-o-transform: rotateY(0deg) translateX(0);
		opacity: 1;
	}
	to {
		-o-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
}

@-o-keyframes cubeinfromright {
	from {
		-o-transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		-o-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@-o-keyframes cubeouttoleft {
	from {
		-o-transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
	to {
		-o-transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
}

@keyframes cubeinfromleft {
	from {
		transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@keyframes cubeouttoright {
	from {
		transform: rotateY(0deg) translateX(0);
		opacity: 1;
	}
	to {
		transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
}

@keyframes cubeinfromright {
	from {
		transform: rotateY(90deg) translateZ(320px);
		opacity: .5;
	}
	to {
		transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
}

@keyframes cubeouttoleft {
	from {
		transform: rotateY(0deg) translateZ(0);
		opacity: 1;
	}
	to {
		transform: rotateY(-90deg) translateZ(320px);
		opacity: .5;
	}
}


/* Pop */

.jmuiLayout.jmuiPop.jmuiStart,
.jmuiPage.jmuiPop.jmuiStart {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}

.jmuiLayout.jmuiPop.jmuiIn,  .jmuiLayout.jmuiPop.jmuiOut.jmuiReverse.jmuiStart,
.jmuiPage.jmuiPop.jmuiIn,  .jmuiPage.jmuiPop.jmuiOut.jmuiReverse.jmuiStart {
	-webkit-transform: scale(.2);
	-moz-transform: scale(.2);
	-ms-transform: scale(.2);
	-o-transform: scale(.2);
	transform: scale(.2);
	opacity: 0;
}

.jmuiLayout.jmuiPop.jmuiOut.jmuiStart, .jmuiLayout.jmuiPop.jmuiIn.jmuiReverse,
.jmuiPage.jmuiPop.jmuiOut.jmuiStart, .jmuiPage.jmuiPop.jmuiIn.jmuiReverse {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: .99;
}

.jmuiLayout.jmuiPop.jmuiOut, .jmuiLayout.jmuiPop.jmuiOut.jmuiReverse, .jmuiLayout.jmuiPop.jmuiIn.jmuiStart, .jmuiLayout.jmuiPop.jmuiIn.jmuiReverse.jmuiStart,
.jmuiPage.jmuiPop.jmuiOut, .jmuiPage.jmuiPop.jmuiOut.jmuiReverse, .jmuiPage.jmuiPop.jmuiIn.jmuiStart, .jmuiPage.jmuiPop.jmuiIn.jmuiReverse.jmuiStart {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
#sw-wrapper {
	position:absolute; z-index:1000;
	left:0;
	width:100%;
	font-family:helvetica, sans-serif;
	background:rgba(0,0,0,0.7);
	text-align:left;
}

#sw-header {
	position:relative;
	width:100%; height:43px;
	border-top:1px solid #000; border-bottom:1px solid #000;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5c5c5c), to(#383838));
	opacity: 0.9;
}

#sw-cancel, #sw-done {
	position:absolute;
	top:7px;
	height:30px; line-height:30px;
	padding:0 8px; margin:0;
	font-size:12px; font-weight:normal;
	color:black;
	-webkit-border-radius: 4px;	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#bdbdbd));
}

#sw-cancel {
	left:7px;
	float:left;
}

#sw-done {
	right:7px;
	float:right;
}

.sw-pressed { opacity:0.4; }

#sw-slots-wrapper {
	position:relative; z-index:999;
	display:block;
	height:215px;
	padding:0 11px;
	overflow:hidden;
}

#sw-slots {
	display:table;
	width:100%;
	background:#fcfcfc;
}

#sw-slots div {
	display:table-cell;
	height:100%;
	padding-top:86px;
	border-left:2px solid #0d0e0f;
	background-color:#fcfcfc;
	background-image: url(img/sw-slot-border.png);
	background-position: 0 0, 100% 0;
	background-repeat: repeat-y;
}

#sw-slots div:first-child { border:0; }

#sw-slots ul {
	padding:0 0 85px 0; margin:0;
	list-style:none;
}

#sw-slots .sw-right { text-align:right; }
#sw-slots .sw-center { text-align:center; }
#sw-slots .sw-shrink { width:1%; }
#sw-slots .sw-readonly { background:#ddd; }

#sw-slots li {
	padding:0 8px;
	height:44px;
	overflow:hidden;
	font:bold 24px/44px Helvetica,sans-serif;
}

#sw-frame {
	position:absolute; z-index:1000;
	left:0; right:0; bottom:0;
	height:183px;
	border-width:16px;
	-webkit-border-image:url(img/sw-alpha.png) 16;
}/* Focus */

.jmuiLayout ul.jmuiPseudoFocus li, .jmuiLayout li.jmuiPseudoFocus {
	border: ridge 3px red;
}


/* Layout and background */

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

body {
	background: #d0d2d8;
	overflow-x: hidden;
}

.jmuiLeftColumn {
	right: auto;
	width: 300px;
	border-right: 1px solid #B4B4B4;
}

.jmuiRightColumn {
	left: 300px;
	right: 0;
	border-left: 1px solid #B4B4B4;
}

.jmuiLayout {
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#e2e5ea), to(#d0d2d8));
	color: black;
	font-family: Helvetica;
	font-size: 17px;
	font-weight: bold;
}

.jmuiLayout h1, .jmuiLayout h2 {
	color: rgb(49,48,49);
	font-family: Helvetica;
	font-size: 17px;
	font-weight: normal;
	margin: 10px 10px 4px;
}


/* Toolbar */

.jmuiPageScroller {
	padding-top: 46px;
	padding-bottom: 46px;
}

.jmuiToolbar {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack:justify;
	-webkit-box-sizing: border-box;
	border-bottom: 1px solid #2d3642;
	padding: 6px;
	height: 45px;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#a4a4a4), to(#808080));
}

.jmuiToolbar > h1 {
	-webkit-box-ordinal-group: 2;
	-webkit-box-flex: 1;
	overflow: hidden;
	line-height: 1em;
	font-size: 20px;
	margin-top: 5px;
	font-weight: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: white;
	height: 24px;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
}

.jmuiToolButton, .jmuiDeleteButton, .jmuiCancelButton, .jmuiBackButton, .jmuiAddButton, .jmuiActionButton {
	-webkit-box-ordinal-group: 3;
	-webkit-border-radius: 4px;	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#bdbdbd));
	overflow: hidden;
	margin-top: 1px;
	margin-left: 6px;
	padding: 0 8px;
	width: auto;
	height: 30px;
	line-height: 30px;
	font-family: inherit;
	font-size: 12px;
	font-weight: normal;
	color: black;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	max-width: 130px;
}

.jmuiBackButton, .jmuiCancelButton {
	-webkit-box-ordinal-group: 1;
	margin-left: 0px;
	margin-right: 6px;
}


.jmuiToolButton[disabled], .jmuiDeleteButton[disabled], .jmuiCancelButton[disabled], .jmuiBackButton[disabled], .jmuiAddButton[disabled], .jmuiActionButton[disabled] {
	color: silver;
}

.jmuiAddButton {
	font-size: 24px;
	line-height: 30px;
	font-weight: normal;
}


.jmuiToolButton.jmuiPressed, .jmuiDeleteButton.jmuiPressed, .jmuiCancelButton.jmuiPressed, .jmuiBackButton.jmuiPressed, .jmuiAddButton.jmuiPressed, .jmuiActionButton.jmuiPressed {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7500), to(#ff9100));
}


/* Button bar - needs updating with proper colours and sizes */

.jmuiButtonbar {
	width:100%;
	height:48px;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));;
	padding:0;
	border-top:1px solid #444;
}


/* Lists */

.jmuiLayout h2.jmuiLateral {
	clear: both;
	float: left;
	width: 70px;
	margin-top: 22px;
	margin-right: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: right;
	line-height: 20px;
	font-family: inherit;
	font-size: 12px;
	font-weight: bold;
}

.jmuiLayout h2.jmuiLateral.jmuiEdge {
	text-align: left;
}

.jmuiLayout h1 + ul, .jmuiLayout h2 + ul, .jmuiLayout h3 + ul, .jmuiLayout h4 + ul, .jmuiLayout h5 + ul, .jmuiLayout h6 + ul {
	margin-top: 0;
}

.jmuiLayout ul {
	background: #fff;
	border: 1px solid #B4B4B4;
	padding: 0;
	margin: 15px 10px 17px 10px;
	-webkit-border-radius: 4px;
}

.jmuiLayout li {
	position: relative;
	border-top: 1px solid #B4B4B4;
	list-style-type: none;
	padding: 10px 10px 10px 10px;
}

.jmuiLayout ul.jmuiLateral {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 100px;
}

.jmuiLayout ul.jmuiLateral.jmuiEdge {
/* 	margin-left: 10px; */
}

.jmuiLayout ul.jmuiLateral.jmuiEdge li {
/* 	margin-left: 100px; */
	text-align: right;
}

.jmuiLayout ul.jmuiLateral.jmuiEdge li input, .jmuiLayout ul.jmuiLateral.jmuiEdge li textarea{
	text-align: right;
}


/* Rounded Lists */

.jmuiLayout li:first-child {
	border-top: 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}

.jmuiLayout li:last-child {
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}


/* universal arrows */

.jmuiLayout .jmuiArrow {
	background-image: url(img/chevron.png);
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 25px;
}

.jmuiLayout .jmuiArrow.jmuiSelected {
	background-image: url(img/chevron.png), -webkit-gradient(linear, left top, left bottom, from(#ff7500), color-stop(0.5, #ff9100), to(#ff7500));
	background-position: right center, left center;
	background-repeat: no-repeat;
	color: white;
}


/* composite controls */

.jmuiLayout div.jmuiCompositeClear {
	background-image: url(img/clear.png);
	background-repeat: no-repeat;
	background-position: left center;
	float: right;
	margin-top: -10px;
	margin-right: -10px;
	height: 40px;
	width: 29px;
}

.jmuiLayout div.jmuiCompositeArrow {
	background-image: url(img/editChevron.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	float: right;
	margin-top: -10px;
	margin-right: -10px;
	height: 40px;
	width: 35px;
}

.jmuiLayout div.jmuiCompositeInput, .jmuiLayout div.jmuiCompositeDate, .jmuiLayout div.jmuiCompositeTime, .jmuiLayout div.jmuiCompositeNumber {
	margin-right: 25px;
}


/* ticks */

.jmuiLayout ul li.jmuiTick {
	background-image: url(img/tick.png);
	background-position: right center;
	background-repeat: no-repeat;
	border-right-width: 10px;
	border-right-style: solid;
	border-right-color: transparent;
/* 	color: #369; */
	padding-right: 16px;
}


/* Input */

.jmuiLayout ul li input[type="text"],
.jmuiLayout ul li input[type="password"],
.jmuiLayout ul li input[type="tel"],
.jmuiLayout ul li input[type="number"],
.jmuiLayout ul li input[type="search"],
.jmuiLayout ul li input[type="email"],
.jmuiLayout ul li input[type="url"],
.jmuiLayout ul li textarea,
.jmuiLayout ul li select {
	color: black;
	background-color: transparent;
	border: 0;
	font-family: Helvetica;
	font-size: 17px;
	font-weight: normal;
	padding: 0;
	display: inline-block;
	margin-left: 0px;
	width: 100%;
	-webkit-appearance: textarea;
}

.jmuiLayout ul li textarea {
    height: 40px; /* 120px; */
    padding: 0;
    text-indent: -2px;
}

.jmuiLayout ul li textarea[rows] {
  height: inherit;
}

.jmuiLayout ul li select {
	background-color: transparent;
	text-indent: 0px;
	white-space: normal;
}

.jmuiLayout ul li input[type="checkbox"], .jmuiLayout ul li input[type="radio"] {
    margin: 4px 0;
    padding: 10px 10px;
    float: left;
}

.jmuiLayout li > input[type="checkbox"] + p, .jmuiLayout li > input[type="radio"] + p {
	margin: 0 5px 0 27px;
}

.jmuiLayout li > input[type="checkbox"] + label, .jmuiLayout li > input[type="radio"] + label {
	margin: 0 5px 0 10px;
}


.jmuiLayout li > input[type="checkbox"] + div {
	margin-left: 27px;
}

.jmuiLayout ul li p, .jmuiLayout ul li.jmuiArrow, .jmuiLayout ul li span {
	font-weight: normal;
}

.jmuiLayout ul li {
	font-weight: normal;
}

.jmuiLayout ul li h3 {
	font-size: 17px;
}

.jmuiLayout ul li.jmuiLateral.jmuiEdge h3 {
	width: inherit;
	max-width: 75%;
	text-align: left;
	color: inherit;
	font-size: inherit;
	margin-top: inherit;
}

.jmuiLayout ul li h4 {
	color: #f80;
	font-size: 12px;
}

.jmuiLayout ul li.jmuiLateral {
	display: -webkit-box;
	padding-right: 30px;
}

.jmuiLayout ul li.jmuiLateral h3 {
	width: 70px;
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	color: #f80;
	font-size: 12px;
	margin-top: 5px;
}

.jmuiLayout ul li.jmuiLateral.jmuiEdge h3 {
	width: inherit;
	max-width: 75%;
	text-align: left;
	color: inherit;
	font-size: inherit;
	margin-top: inherit;
}

.jmuiLayout ul li.jmuiLateral h4 {
	-webkit-box-flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	font: inherit;
	color: inherit;
	margin-left: 5px;
}

.jmuiLayout ul li.jmuiLateral.jmuiEdge h4 {
	text-align: right;
	color: #f80;
}


/* Tables */

.jmuiLayout ul table {
	border-bottom: 1px solid #b4b4b4;
	border-top: 1px solid #b4b4b4;
	width: 100%;
	border-spacing: 1px 0px;
	table-layout: fixed;
	background-color: #b4b4b4;
}			

.jmuiLayout ul table caption {
	border-top: 1px solid #b4b4b4;
	border-left: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
	background-color: #bbb;
}

.jmuiLayout ul th {
	background-color: #ddd;
}

.jmuiLayout ul td, .jmuiLayout ul th {
	padding: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.jmuiLayout ul td.jmuiArrow {
/* 	display: inherit; */
	display: list-item;
}

.jmuiLayout ul tr:nth-child(odd) {
	background-color: #fff;
}

.jmuiLayout ul tr:nth-child(even) {
	background-color: #eee;
}

.jmuiLayout ul tr.jmuiSelected {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7500), color-stop(0.5, #ff9100), to(#ff7500));
}

.jmuiLayout ul td img {
	width: 100%;
}



/* Segmented Controls */
.jmuiSegmentHeader {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack:justify;
	-webkit-box-sizing: border-box;
	padding: 10px;
}
.jmuiSegmentButton {
	display: block;
	-webkit-box-flex: 1;
	border: solid 1px #9a9a99;
	border-left: none;
	-webkit-border-radius: 0px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#bdbdbd));
/* 	color: #6b6b6b; */
	font-size: 16px;
	font-weight: normal;
	padding: 10px;
	width: 1px;
}
.jmuiSegmentButton.jmuiSelected {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7500), to(#ff9100));
}
.jmuiSegmentButton:first-of-type {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-left: solid 1px #9a9a99;
}
.jmuiSegmentButton:last-of-type {
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}
.jmuiSegmentButton img {
  max-width: 50px;
}
/* End Segmented Controls */


/* Slots */

.jmuiSlotPage {
	bottom: 0;
}

.jmuiSlotMachine {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack:center;
	-webkit-box-sizing: border-box;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, rgb(162,163,171)), color-stop(0.5, rgb(74,74,87)), color-stop(0.5, rgb(40,40,56)), color-stop(1, rgb(40,40,56)));
	padding: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.jmuiSlot {
	border: solid 1px;
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-color: #585c62;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #c2c2ce), color-stop(0.1, #ececed), color-stop(0.5, #fff), color-stop(0.9, #ececed), color-stop(1, #c2c2ce));
	font-size: 24px;
	text-shadow: white 0 1px 0;
}

.jmuiSlot.jmuiStatic {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #a2a2ae), color-stop(0.1, #cccccd), color-stop(0.5, #ddd), color-stop(0.9, #cccccd), color-stop(1, #a2a2ae));
}

.jmuiSlot:first-child {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-left-width: 2px;
}

.jmuiSlot:last-child {
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-right-width: 2px;
}

.jmuiSlot div:nth-child(odd) {
	color: rgb(130,130,132);
}

.jmuiSlot div:nth-child(2) {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, rgba(227,227,238,1)), color-stop(0.5, rgba(186,190,214,1)), color-stop(0.5, rgba(163,168,201,1)), color-stop(1, rgba(170,171,205,1)));
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color: #585c62;
	color: rgb(46,49,66);
}

.jmuiSlot div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	line-height: 2em;
}

.jmuiSlot div.jmuiPressed {
	background-color: rgba(0,0,0,0.2);
}

/* End slots */


/* Date page */
.jmuiLayout .jmuiDatePage li, .jmuiLayout .jmuiTimePage li {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-sizing: border-box;
	padding: 10px;
}

.jmuiLayout .jmuiDatePage li select, .jmuiLayout .jmuiTimePage li select {
	display: block;
	width: auto;
	margin-right: .2em;
	margin-left: .2em;
}
/* End Date page */


/* Edge to edge */
.jmuiLayout ul.jmuiEdgetoedge {
    -webkit-border-radius: 0;
    border-left: 0;
    border-right: 0;
}
	
.jmuiLayout ul.jmuiEdgetoedge li.jmuiSep {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(139, 159, 171, 1)), to(rgba(181, 193, 201, 1.0)));
    border-bottom: 1px solid #b5c1c9;
    border-top: 1px solid #b5c1c9;
    color: #fff;
    font-size: 16px;
    margin: 1px 0 0 0;
    padding: 2px 10px;
    text-shadow: #636a6f 0 1px 0;
}

.jmuiLayout .jmuiEdgetoedge h4 {
    color: #fff;
    background: rgb(154,159,170) url(img/listGroup.png) top left repeat-x;
    border-top: 1px solid rgb(165,177,186);
    text-shadow: #666 0 1px 0;
    margin: 0;
    padding: 2px 10px;
}

.jmuiLayout .jmuiEdgetoedge {
    margin: 0;
    padding: 0;
    background-color: rgb(255,255,255);
}

.jmuiLayout .jmuiEdgetoedge ul {
    -webkit-border-radius: 0;
    margin: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.jmuiLayout .jmuiEdgetoedge ul li:first-child,
.jmuiLayout .jmuiEdgetoedge ul li:last-child {
    -webkit-border-radius: 0;
}

.jmuiLayout .jmuiEdgetoedge ul li small {
    font-size: 16px;
    line-height: 28px;
}

.jmuiLayout .jmuiEdgetoedge li {
    -webkit-border-radius: 0;
}

.jmuiLayout .jmuiEdgetoedge li em {
    font-weight: normal;
    font-style: normal;
}

.jmuiLayout .jmuiEdgetoedge h4 + ul {
    border-top: 1px solid rgb(152,158,164);
    border-bottom: 1px solid rgb(113,125,133);
}


/* Mini Label */

.jmuiLayout ul li small {
    color: #369;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 23%;
    float: right;
    padding: 3px 0px;
}

.jmuiLayout ul li.jmuiArrow small {
    padding: 0 15px;
}

.jmuiLayout ul li small.jmuiCounter {
    font-size: 17px !important;
    line-height: 13px !important;
    font-weight: bold;
    background: rgb(154,159,170);
    color: #fff;
    -webkit-border-radius: 11px;
    padding: 4px 10px 5px 10px;
    display: inline !important;
    width: auto;
    margin-top: -22px;
}

.jmuiLayout ul li.jmuiArrow small.jmuiCounter {
    margin-right: 15px;
}


/* Individual */

.jmuiLayout ul.jmuiIndividual {
    border: 0;
    background: none;
    clear: both;
    overflow: hidden;
}

.jmuiLayout ul.jmuiIndividual li {
    color: rgb(183,190,205);
    background: white;
    border: 1px solid rgb(180,180,180);
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 8px;
    -webkit-box-sizing: border-box;
    width: 48%;
    float: left;
    display: block;
    padding: 11px 10px 14px 10px;
}

.jmuiLayout ul.jmuiIndividual li + li {
    float: right;
}

.jmuiLayout ul.jmuiIndividual li a {
    color: rgb(50,79,133);
    line-height: 16px;
    margin: -11px -10px -14px -10px;
    padding: 11px 10px 14px 10px;
    -webkit-border-radius: 8px;
}

.jmuiLayout ul.jmuiIndividual li a:hover {
    color: #fff;
    background: #36c;
}

/* Toggle */

.jmuiLayout .jmuiToggle {
    width: 94px;
    position: relative;
    height: 27px;
    display: block;
    overflow: hidden;
    float: right;
}

.jmuiLayout .jmuiToggle input[type="checkbox"]:checked {
    left: 0px;
}

.jmuiLayout .jmuiToggle input[type="checkbox"] {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    -webkit-border-radius: 5px;
    background: #fff url(img/on_off.png) 0 0 no-repeat;
    height: 27px;
    overflow: hidden;
    width: 149px;
    border: 0;
    -webkit-appearance: textarea;
    background-color: transparent;
    -webkit-transition: left .15s;
    position: absolute;
    top: 0;
    left: -55px;
}.sketch  {
	width: 100%;
	border: 1px solid #B4B4B4;
}
.pinLabel {
	width: 16px;
	height: 23px;
	text-align: center;
	padding-top: 8px;
	margin-left: -9px;
	margin-top: -3px;
	color: white;
	font-size: 11px;
	font-weight: bold;
	background-image: url(../../images/small_pointer.png);
	background-repeat: no-repeat;
}
.tagLabel {
	float: left;
	width: 16px;
	height: 16px;
	text-align: center;
	margin: 2px 4px 0 0;
	padding-top: 1px;
	color: white;
	font-size: 11px;
	font-weight: bold;
	background-image: url(../../images/small_tag.png);
	background-repeat: no-repeat;
	background-position-x: center;
}
.tagLabel + div {
	margin-left: 22px;
}
.subjectDelete {
	float: left;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	background-image: url(../../images/delete.png);
	background-repeat: no-repeat;
}
.subjectConfirmDelete {
	background-image: url(../../images/confirm.png);
}
.progressBar {
	background: #B8B8B8;
	border: 1px solid #B4B4B4;
	margin: 15px 10px 17px 10px;
	-webkit-border-radius: 4px;
}
.progressComplete {
	-webkit-border-radius: 4px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd346), color-stop(0.9, #ffb73d), to(#ffc141));
	height: 8px;
	width: 0%;
}
.popupQuestions li[disabled] h3, .gridInline[disabled] td {
	color: gray;
}
.audioButton {
	border: solid 1px #9a9a99;
	text-align: center;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#bdbdbd));
	color: #6b6b6b;
	padding: 10px;
	height: 20px;
	vertical-align: middle;
	-webkit-border-radius: 8px;
	font-size: 36px;
	line-height: 10px;
	font-weight: bold;
	margin-right: 25px;	
}
.audioButton.jmuiSelected {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bdbdbd), to(#fbfbfb));
	color: #08F;
}
.audioHeader div.jmuiCompositeClear {
	margin-top: inherit;
}
.activity {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
}
.activity > div {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;	
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../../images/ajax-loader.gif);
}
#replicatePage .statusText {
	font-size:  12px;
	text-align: inherit;
	margin-top: inherit;
}
#replicatePage h2 {
	margin-top: 5em;
	text-align: center;
}
#msgBoxContainer {
	display: -webkit-box;	
	-webkit-box-orient: vertical;
	-webkit-box-pack:center;
	-webkit-box-sizing: border-box;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 1000;	
}
#msgBoxContainer > div {
	border: 1px solid #484848;
	margin: 0px auto;
	letter-spacing: 0;
	text-align: center;
	overflow: hidden;
	white-space: wrap;
	-webkit-box-shadow: 0px 0px 6px #444;
	-webkit-border-radius: 2px;
	padding: 0;
	opacity: 1;
	background-image: none;
	width: 60%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a0a0a0), color-stop(0.85, #a0a0a0), color-stop(0.85, #a0a0a0), to(#828282));

}
#msgBoxContainer h1 {
	margin-top: 0;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold;
	color:#FFF;
	text-shadow: 0px -1px 1px #000;
	padding:15px;
	letter-spacing: 0px;
	white-space: normal;
	background-color: black;
	text-align: left;
}
#msgBoxContainer p {
	font-family: Helvetica;
	font-size: 18px;
	font-weight: normal;
	color:#FFF;
	text-shadow: 0px -1px 1px #000;
	padding: 15px 25px;
	margin: 0;
	border-top: 1px solid #1d1d1d;
	border-bottom: 1px solid #c4c4c4;
	letter-spacing: 0px;
	white-space: normal;
	background-color: black;
	text-align: left;
}
#msgBoxContainer .msgBoxButton {
	-webkit-box-sizing: border-box;
	border: none;
	-webkit-border-radius: 1px;
	display: inline-block;
	margin: 7px 8px 12px;
	padding: 5px 30px;
	color: #000;
	text-shadow: none;
	font-family: Helvetica;
	font-size: 18px;
	font-weight: normal;
	line-height: 32px;
	letter-spacing: 0px;
	vertical-align: middle;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), color-stop(0.5, #d6d6d6), color-stop(0.5, #d6d6d6), to(#c8c8c8));
	-webkit-box-shadow: 0px 1px 3px #333;
	}
#msgBoxContainer .msgBoxButton:hover {
	background-image: none;
	background-color: #e8a92e;
}
ul.sideBySide li {
	display: inline-block;
	border: none;
}
/*
#processesPage {
	background-image: url(../../CommonTime.png);
	background-position: center center;
	background-repeat: no-repeat;
}
*/
/*
#processesPage .processSelectorInline {
	background-color: transparent !important;
	border: none !important;
}	
*/
.processSelectorInline li.processRow {
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size: 32px;
	padding-left: 42px;
	padding-right: 25px;
	position: relative;
}
.processSelectorInline li.processRow:after {
	background-image: url(img/chevron.png);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: auto;
	bottom: 0px;
	color: transparent;
	content: "11";
	position: absolute;
	right: 0px;
	top: 0px;
	width: 25px;
}
.processSelectorInline li.processCell {
	-webkit-box-sizing: border-box;
	display: inline-block;
	width: 25%;
	border: none;
	background-repeat: no-repeat;
	background-position: center 5px;
	background-size: 57px;
	padding-top: 67px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.jmuiLayout ul li.searchBar {
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#a4a4a4), to(#808080));
}
.jmuiLayout ul li.searchBar input[type="text"] {
	-webkit-box-sizing: border-box;
	background: url(img/clearSearch.png) right center no-repeat;
	background-color: white;
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	border-style: solid;
	border-width: 1px;
	border-color: #b4b4b4;
	font-size: 14px;
	padding-left: 7px;
	padding-right: 24px;
	padding-top: 8px;
	text-align: left;
}
.mdcUnreadNotifications .jmuiLayout .jmuiHeader .jmuiToolbar, .mdcUnreadNotifications .jmuiLayout .jmuiHeader.jmuiToolbar {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FF9100), to(#FF7500));
}

/*Updated Android fix for #61022982 and #61570128*/
ul.sketchInline li,
ul.imageInline li {
	overflow: hidden !important; 
	padding: 0 !important;
}
ul.sketchInline li canvas {
	border: 10px solid white !important; 
	-webkit-border-radius: 5px;
	height: auto;
	max-width: 96%;
}

ul.imageInline {
	background-color: white; 
	border: 10px solid white !important;
	-webkit-border-radius: 5px;
}

@media only screen 
and (orientation : landscape) {
	ul.sketchInline li canvas {max-width: 96%;}
	ul.imageInline li img {max-width: 100%;}
}